<nav>
  <a routerLink="/clients">Clients</a>
  <a routerLink="/produits">Produits</a>
</nav>
<hr>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar fixe a gauche -->
    <div class="col-md-2 sidebar">
      <app-sidebar 
      [activeComponent]="activeComponent"
      (setActive)="setActiveComponent($event)">
      </app-sidebar>
    </div>

    <!-- Contenu principal qui change avec la navigation -->
    <div class="col-md-10 main-content">
      <router-outlet></router-outlet>
      <h1 class="mt-3 mb-4">{{ title }}</h1>
      <div *NgIf="activeComponent === 'client'">
        <app-client></app-client>
      </div>
      <div *NgIf="activeComponent === 'produit'">
        <app-produit></app-produit>
      </div>
    </div>
  </div>
</div>
