.sidebar-content {
    padding: 10px;
  }
  
  .sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
  }
  
  .list-group-item {
    margin-bottom: 5px;
    transition: all 0.3s;
    border-radius: 5px;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
  }